JWT_SECRET=your_jwt_secret_here
AMAZON_CLIENT_ID=your_amazon_client_id_here
AMAZON_CLIENT_SECRET=your_amazon_client_secret_here
AMAZON_REDIRECT_URI=https://www.nexvy.in/auth/callback
GEMINI_API_KEY=
# Appwrite Configuration
VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_DATABASE_ID=
VITE_APPWRITE_STORAGE_BUCKET_ID=
APPWRITE_API_KEY=

# CPX Research S2S Verification Hash
CPX_SECURITY_HASH=0cU7Ej7svIbERoJI9Z76AGYrgBudV0Y2

# SEO Configuration
GOOGLE_SEARCH_CONSOLE_ID=
VITE_SITE_URL=https://www.nexvy.in
